Source: appmenu-qt5
Section: kde
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               libdbusmenu-qt5-dev,
               libgles2-mesa-dev,
               libglib2.0-dev,
               libfreetype6-dev,
               libfontconfig1-dev,
               libinput-dev,
               libmtdev-dev,
               libudev-dev,
               libxrender-dev,
               qtbase5-dev (>= 5.2.0),
               qtbase5-private-dev (>= 5.2.0),
               pkg-config,
               libgtk2.0-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/appmenu-qt5
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:appmenu-qt5

Package: appmenu-qt5
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: application menu for Qt5
 appmenu provides you with an integrated application menu in your global
 menu bar. It functions as a QPA platformtheme plugin.
 .
 appmenu-qt5 will work for applications designed for Qt5
