Source: appmenu-qt5
Section: kde
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libdbusmenu-qt5-dev,
               qtbase5-dev (>= 5.0.2+dfsg1-7ubuntu10),
               qtbase5-dev (<< 5.1),
               pkg-config,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/appmenu-qt5
Vcs-Bzr: lp:appmenu-qt5

Package: appmenu-qt5
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Suggests: libqt5core5 (>= 5.0.2+dfsg1-7ubuntu10),
          libqt5core5 (<< 5.1),
          libqt5dbus5,
          libqt5gui5,
          libqt5widgets5,
Description: application menu for Qt5
 appmenu provides you with an integrated application menu in your
 global menu bar
 .
 appmenu-qt5 will work for applications designed for Qt and KDE
 This is the Qt5 version
